.calendar {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: white;
    font-family: "Avenir", "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    transform-origin: left bottom;
    transform: scale(0.8);
}
.calendar > div {
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
}
#calHeader {
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
}
#calHeader > div {
    position: absolute;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 15px;
    user-select: none;
    -webkit-user-select: none;
}
#calPrevMonth {
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#calNextMonth {
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#calNextMonth:hover, #calPrevMonth:hover {
    background-color: rgba(255,255,255,0.3);
}
#calMonthName {
    left: 90px;
    top: 0;
    width: calc(100% - 180px);
    height: 100%;
    cursor: pointer;
}
#calLabels {
    left: 0;
    top: 30px;
    width: 100%;
    height: 30px;
}
#calLabels > div {
    position: absolute;
    top: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    color: gray;
    border-radius: 10px;
}
#calDates {
    left: 0;
    top: 60px;
    width: 100%;
    height: 240px;
}
.calDate {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.highlightedDate {
    background-color: rgba(255,255,255,0.1);
}
.calDate:hover {
    background-color: rgba(255,255,255,0.3);
}
.otherMonthDate {
    color: gray;
}
.selectedDate {
    color: yellow;
    background-color: rgba(255,255,255, 0.2) !important;
    cursor: default;
}
