/*
*
*
Logic Interface CSS

*/

#craftingBoard {
    display: none;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    left: 0;
    top: 0;
    /*width: 506px;*/
    width: 568px;
    height: 320px;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    background-color: rgba(20,20,20,0.5);

    /*-webkit-backdrop-filter: blur(30px);*/

    /*background-color: #969696;*/
    -webkit-user-select: none;
    user-select: none;

    -webkit-transform: translateZ(300px);
    z-index: 10;
}

@keyframes blurVisible {
    0% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
}

@keyframes blurInvisible {
    0% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
    100% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}

.craftingBoardBlur {

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    /*animation-name: blurVisible;*/ /* ben change */
    /*animation-duration: 100ms;*/
    /*-webkit-animation-fill-mode: forwards; !* Chrome, Safari, Opera *!*/
    /*-webkit-animation-timing-function: ease-out;*/

}

.craftingBoardClear {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    /*animation-name: blurInvisible;*/ /* ben change */
    /*animation-duration: 100ms;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-webkit-animation-timing-function: ease-out;*/
}

.centerVerticallyAndHorizontally {
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.centerVertically {
    position:absolute; /*it can be fixed too*/
    /*left:0; right:0;*/
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

@keyframes scaleIn {
    0% {
        visibility: visible;
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        visibility: hidden;
        opacity: 0;
    }
}

.scaleIn {
    visibility: visible;
    animation-name: scaleIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.scaleOut {
    visibility: hidden;
    animation-name: scaleOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
}

#blocks {
    position: absolute;
    top: 0;
    left: 0;
}

#blockPlaceholdersContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.blockPlaceholderRow {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

.visibleFadeIn {
    opacity: 1;

    animation-name: fadeIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.invisibleFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

.blockPlaceholder {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.blockPlaceholderLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.blockPlaceholderLabel {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.columnHighlight {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.columnHighlightLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#datacraftingCanvas {
    position: absolute;
    left: 0;
    top: 0;
}

#datacraftingEventDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.blockDivPlaced {
    box-sizing: border-box;
    position: absolute;
    color: white;
    user-select:none;
    -webkit-user-select:none;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    background-color: rgb(73,73,73);
    border: 2px solid white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.blockDivHighlighted {
    position: absolute;
    color: white;
    user-select:none;
    -webkit-user-select:none;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    background-color: rgb(73,73,73);
    border: 2px solid white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* block settings */

.settingsContainer {
    /*background-color: #B7B7B7; !*#969696;*!*/
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 506px;
    height: 320px;
    border: none;
}

/* block menu */

#menuContainer {
    /*background-color: #B7B7B7; !*#969696;*!*/
    position: absolute;
    left: 0;
    top: 0;
    width: 506px;
    height: 320px;
}

#menuBlockContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 320px;
}

#menuSideContainer {
    position: absolute;
    /*left: 400px;*/
    left: 398px;
    top: 0;
    width: 106px;
    height: 320px;
}

.menuBlock {
    width: 92px;
    height: 46px;
    display: inline-block;
    background-color: rgb(73,73,73);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px white;
    margin: 3.5px;
    margin-bottom: 18px;
}

.menuBlockContents {
    width: 100%;
    height: 100%;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-box-orient:vertical;
    user-select:none;
    -webkit-user-select:none;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.blockIcon {
    text-align: center;
    width: 100%;
    /* height: 100%;*/
    overflow: hidden;
    /*height: 20px;*/
    /*width: 75%;*/
    /*  display:-webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;*/
    user-select:none;
    -webkit-user-select:none;
}

.blockBox {
    display: inline-block;
}

.blockTitle {
    /*display: inline-block;*/
    text-align: center;
}

.blockMoveDiv {
    width: 100%;
    height: 100%;
    position: absolute; /* ben change */
    top: 0;
    left: 0;
}

.menuTab {
    width: 106px;
    height: 59.5px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px rgb(0, 255, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.menuTabSelected {
    width: 106px;
    height: 59.5px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    background-color: rgba(0, 255, 255, 0.4);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 2px rgb(0, 255, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

.menuTabIcon {
    height: 75%;
    -webkit-filter: invert(100%);
}

.blockDivMovingAbleBorder {
    border: 2px solid rgb(0,255,0);
}

.blockDivMovingUnableBorder {
    border: 2px solid rgb(255,0,124);
}

.blockDivMovingSaveOrDeletableBorder {
    border: 2px solid rgb(255,255,0);
}

.blockDivMovingAble {
    /*border: 2px solid rgb(0,255,0);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(0, 255, 0) 16px, rgb(0, 255, 0) 32px);
}

.blockDivMovingUnable {
    /*border: 2px solid rgb(255,0,124);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,0,124) 16px, rgb(255,0,124) 32px);
}

.blockDivMovingSaveOrDeletable {
    /*border: 2px solid rgb(255,255,0);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,255,0) 16px, rgb(255,255,0) 32px);
}


/*
Newly added for the screen adaptation
 */

#blockMenuButton {
    position: absolute;
    width: 60px;
    right: 0;
    top: calc(50% - 30px);
    z-index: 100;
}