@font-face {
    font-family: myriadPro;
    src: url(resources/MyriadPro-Regular.otf);
}

body {
    background-color: rgb(34,34,34);
    /*font-family: myriadPro, Helvetica Neue, Helvetica, Arial, sans-serif;;*/
    /*font-size: 12pt;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    text-align: center;
    /*position: absolute;*/
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    position:fixed;
    overflow:hidden;
    width: 100%;
    height: 100%;
}

/*@media only screen*/
/*and (min-device-width : 768px)*/
/*and (max-device-width : 1024px)  {*/
    /*body {*/
        /*position:fixed;*/
        /*overflow:hidden;*/
        /*width: 100%;*/
        /*height: 100%;*/
    /*}*/
/*}*/

.button {
    width: 180px;
    height: 72px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    /*font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    font-size: 24pt;
}

.active:hover {
    /*background-color: rgba(45,255,255,0.25);*/
    opacity: 0.75;
}

.active:active {
    opacity: 0.5;
}

#container {
    /*width: 800px;*/
    /*height: 800px;*/
    position: relative;
    border: 1px solid white;
    margin: auto;
}

#sidebar {
    width: 600px;
    /*height: 800px;*/
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    border: 1px solid white;
}

#markerContainer {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 10px;
    top: 20px;
    /*border: 2px solid green;*/
}

#mainContents {
    border: 2px solid rgb(45,255,255);
    width: auto;
    height: 80%;
    position: absolute;
    left: 620px;
}

.region {
    position: absolute;
    width: 50%;
    height: 50%;
    font-size: 48pt;
}

.green {
    color: rgb(41,253,47);
    border: 2px solid rgb(41,253,47);
}

.red {
    color: rgb(242,22,121);
    border: 2px solid rgb(242,22,121);
}

.blue {
    color: rgb(45,255,255);
    border: 2px solid rgb(45,255,255);
    background-color: rgba(45,255,255,0.15);
}

.white {
    color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.15);
}

.greenText {
    color: rgb(41,253,47);
}

.redText {
    color: rgb(242,22,121);
}

.blueText {
    color: rgb(45,255,255);
}

.whiteText {
    color: rgb(255,255,255);
}

.inactive {
    opacity: 0.25;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.paletteMarker {
    width: 900px;
    height: 900px;
    position: absolute;
    left: 490px;
    top: 100px;
    /*border: 3px solid white;*/
    box-shadow: inset 0 0 0 3px white;
    display: inline-block;
    background-image: url("/resources/marker.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
}

.marker {
    /*min-height: 50%;*/
    /*max-height: 90%;*/
    /*height: 90%;*/
    /*height: auto;*/
    /*width: auto;*/
    width: 100%;
    height: 10px;
    display: inline-block;

    background-image: url("/resources/marker.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.smallText {
    font-size: 28pt;
}

.largeText {
    font-size: 48pt;
}

.centerContentsOuter {
    display: table;
    height:100%;
    width:100%;
}

.centerContentsInner {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    /*height: 75%;*/
    /*width: 75%;*/
}

.sidebarPanel {
    width: 100%;
    height: 200px;
    position: relative;
}

.eventCapture {
    width: 100%;
    height: 100%;
    position: absolute;
}

.controlFrame {
    pointer-events: none;
}

.draggedPanel {
    position: absolute;
    width: 400px;
    height: 200px;
}

.screenFrame {
    display: inline;
    /*opacity: 1.0;*/
    transform-origin: left top;
    /*transform-origin: center center;*/
}

.arFrame {
    display: none;
    /*opacity: 0.1;*/
    transform-origin: left top;
}
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#bg {
    /* The image used is set programmatically now to look for resources/[objectName].jpg */

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.frame {
    transform-origin: left top;
}

.svgOverlay {
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    /*z-index: 50;*/
}

.touchOverlay {
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    border: 4px solid #01fffc;
    border-radius: 60px;
    /* this is a hack for adding the interface in front of the transformed web interface */
    z-index: 3;
}

* {
    /*-webkit-touch-callout: none;*/
    touch-action: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#pocketButton {
    position: absolute;
    left: 0;
    top: 130px;
    width: 60px;
    height: 60px;
    background-color: rgba(45,255,255,0.15);
    z-index: 100;
}

#pocket {
    display: inline;
    position: absolute;
    left: 65px;
    top: 0;
    width: 900px;
    height: 450px;
    border: 3px solid #01fffc;
    background-color: rgba(45,255,255,0.15);
    z-index: 100;
}

.closed {
    display: none !important;
}

.element-template {      /* #overlay.overlayLogicNode */
    display: inline-block;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid #00FFFF;
    /*width: calc(20vw - 18px);*/
    /*height: calc(20vw - 18px);*/
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.palette-element {
    border: 0;
    transform-origin: 0 0;
    pointer-events: none;
}

#trashButton {
    position: absolute;
    left: 0;
    top: 195px;
    width: 60px;
    height: 320px;
    background-color: rgba(242,22,121,0.15);
    z-index: 100;
}

#modeToggleButton {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    /*height: 120px;*/
    /*background-color: rgba(242,22,121,0.15);*/
    z-index: 100;
}

.toggleButtonBackground {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(45,255,255,0.35);
    z-index: 100;
}

.toggleOff {
    background-color: transparent;
}

.ghostFrame {
    opacity: 0.5;
    /*display: inline;*/
    /*visibility: visible;*/
    pointer-events: none;
}

.visibleMemoryFrame {
    /*opacity: 0.7;*/
    /*opacity: 1.0 !important;*/
    /*pointer-events: auto; !important;*/
}

.hiddenNode {
    display: none !important;
}

.monitorContainer {
    /*width: 100%;*/
    /*height: 100%;*/
    border: 2px solid red;
    position: absolute;
    left: 0;
    top: 0;
}

.nodePlaceholder {
    border: 2px solid red;
    position: absolute;
    width: 50px;
    height: 50px;
}

#linkCanvas {
    visibility: visible;
    /*-webkit-transform-style: preserve-3d;*/
    margin: 0;
    padding: 0;
    z-index: -1;
    /*-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/
    pointer-events: none;
    background-color: transparent;
}

@keyframes scaleIn {
    0% {
        visibility: visible;
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        visibility: hidden;
        opacity: 0;
    }
}

.scaleIn {
    visibility: visible;
    animation-name: scaleIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.scaleOut {
    visibility: hidden;
    animation-name: scaleOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
}

.groupLassoFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}