.serverContainer {
    /*position: absolute;*/
    width: 300px;
    /*height: 50px;*/
    line-height: 50px;
    text-align: center;
    border: 2px solid cyan;
    background-color: rgba(0,255,255,0.1);
    color: cyan;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 3px;
    padding-bottom: 1px;
}

.objectRow {
    border: 2px solid cyan;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*.objectName {*/
    /*display: inline-block;*/
/*}*/

.memoryToggle {
    /*display: inline-block;*/
    /*right: 0;*/
    border: 2px solid cyan;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    /*align-items: center;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

.toggleLabel {
    flex-grow: 1;
    text-align: center;
}
.toggleLabel:hover {
    /*display: inline-block;*/
    color: white;
}

.toggleSelected {
    background-color: rgba(0,255,255,0.5);
}

.memoryWindow {
    width: 568px;
    height: 320px;
}