.notification {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: rgba(34, 34, 34, 0.7);
    border-bottom: 1px solid rgba(0,0,0,0.7);
}

.closeNotification {
    position: absolute;
    left: 5px;
    top: 0;
    width: 20px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
}

.notificationError {
    background-color: rgba(127, 0, 0, 0.7);
}

.notificationSuccess {
    background-color: rgba(0, 127, 0, 0.7);
}

.notificationList {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    line-height: 30px;
}
