* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

@font-face {
    font-family: myriadPro;
    src: url(resources/MyriadPro-Regular.otf);
}

body {
  background-color: rgb(34,34,34);
  font-family: myriadPro, Helvetica Neue, Helvetica, Arial, sans-serif;;
  font-size: 12pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

#app {
  width: 520px;
  height: 500px;
  border: 1px solid white;
  padding: 25px;
}

#header {
  margin-top: -10px;
}

#title {
  color: rgb(45,255,255);
  font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: medium;
  font-size: 28pt;
}

#logo {
  width: 22pt;
  height: 22pt;
}

#subtitle {
  color: rgb(255,255,255);
}

#contents {
  color: rgb(255,255,255);
}

.deviceGroup {
  margin-top: 42px;
}

.button {
  width: 104px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid white;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

.active:hover {
  opacity: 0.75;
}

.green {
  color: rgb(41,253,47);
  border: 2px solid rgb(41,253,47);
}

.red {
  color: rgb(242,22,121);
  border: 2px solid rgb(242,22,121);
}

.blue {
  color: rgb(45,255,255);
  border: 2px solid rgb(45,255,255);
  background-color: rgba(45,255,255,0.15);
}

.white {
  color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.15);
}

.two {
  width: 222px;
}

.leftText {
  text-align: left;
  padding-left: 10px;
  padding-right: -10px;
}

.inactive {
  opacity: 0.25;
}
