<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reality</title>
    <link rel="stylesheet" href="/libraries/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libraries/css/bootstrap-theme.min.css">
    <script src="/libraries/js/dropzone.js"></script>
    <style>
        #total-progress {
            opacity: 0;
            transition: opacity 0.3s linear;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>
