body {
    background-color: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: 700;
    color: #00ffff;
    text-align: center;
    position: relative;
    top: 50px;
}
