/*

                                      .,,,;;,'''..
                                  .'','...     ..',,,.
                                .,,,,,,',,',;;:;,.  .,l,
                               .,',.     ...     ,;,   :l.
                              ':;.    .'.:do;;.    .c   ol;'.
       ';;'                   ;.;    ', .dkl';,    .c   :; .'.',::,,'''.
      ',,;;;,.                ; .,'     .'''.    .'.   .d;''.''''.
     .oxddl;::,,.             ',  .'''.   .... .'.   ,:;..
      .'cOX0OOkdoc.            .,'.   .. .....     'lc.
     .:;,,::co0XOko'              ....''..'.'''''''.
     .dxk0KKdc:cdOXKl............. .. ..,c....
      .',lxOOxl:'':xkl,',......'....    ,'.
           .';:oo:...                        .
                .cd,      ╔═╗┌┬┐┬┌┬┐┌─┐┬─┐    .
                  .l;     ║╣  │││ │ │ │├┬┘    '
                    'l.   ╚═╝─┴┘┴ ┴ └─┘┴└─   '.
                     .o.                   ...
                      .''''','.;:''.........
                           .'  .l
                          .:.   l'
                         .:.    .l.
                        .x:      :k;,.
                        cxlc;    cdc,,;;.
                       'l :..   .c  ,
                       o.
                      .,

              ╦ ╦┬ ┬┌┐ ┬─┐┬┌┬┐  ╔═╗┌┐  ┬┌─┐┌─┐┌┬┐┌─┐
              ╠═╣└┬┘├┴┐├┬┘│ ││  ║ ║├┴┐ │├┤ │   │ └─┐
              ╩ ╩ ┴ └─┘┴└─┴─┴┘  ╚═╝└─┘└┘└─┘└─┘ ┴ └─┘ (not even) Alpha


 *
 *
 * Created by Valentin on 10/22/14.
 *
 * Copyright (c) 2015 Valentin Heun
 *
 * All ascii characters above must be included in any redistribution.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *

 **********************************************************************************************************************
 ******************************************** TODOS *******************************************************************
 **********************************************************************************************************************

 **
 * TODO -
 **

 **********************************************************************************************************************
 ******************************************** style content ***********************************************************
 **********************************************************************************************************************/
* {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
   -webkit-user-select: none;
    -webkit-touch-callout:none;
}




body {
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;

    /* -webkit-user-select: none;  Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.main {
    -webkit-transform-style: preserve-3d;
    visibility: hidden;
    z-index: 1;
    position: fixed; /**/
    margin: 0;
    /*padding: 0;*/
    border-width: 0px;
    /*-webkit-user-select: none;    Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

    /* Trick to enable anti-aliasing of iframes (see: https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome) */ 
    padding: 1px;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    /* May also need to enable... */
    /*-webkit-backface-visibility: hidden;*/
}

.mainProgram {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    width: 100%;
    height: 100%;
}


.mainEditing {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    z-index: 99;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.mainCanvas {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    opacity: 0.5;
    /*background:repeating-linear-gradient(-45deg, transparent, transparent 22px, rgba(1, 255, 1, 0.5) 22px, rgba(1, 255, 1, 0.5) 44px);*/
    /*border: 10px dashed green;*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    pointer-events:none; /*stops canvas from capturing touches so they propogate to elements behind it*/
    
    display: none;

    /* Trick to enable anti-aliasing of iframes (see: https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome) */
    /*padding: 1px;*/
    /*-webkit-background-clip: content-box;*/
    /* May also need to enable... */
    /*-webkit-backface-visibility: hidden;*/
}

.mainCanvas > svg {
    /* Trick to enable anti-aliasing of iframes (see: https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome) */
    padding: 1px;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
}

.mainProgramInvalid {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background:repeating-linear-gradient(-45deg, transparent, transparent 22px, rgba(255, 1, 1, 0.5) 22px, rgba(255, 1, 1, 0.5) 44px);
    -webkit-filter: contrast(200%);
    /*border: 10px dashed green;*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}




.iframe {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    /*  -webkit-user-select: none;  Disable selection/Copy of UIWebView */
  /*  background-color: rgba(0, 0, 0, 0.5);*/
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}

.frameHistoryGhost {
    /*width: 400px;*/
    /*height: 300px;*/
    /*border: 5px solid black;*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-color: rgba(0, 0, 0, 0.05);*/
    border: 5px dashed rgba(0, 0, 0, 0.3);
}

.frameHistoryGhostDeleted {
    /*width: 400px;*/
    /*height: 300px;*/
    /*border: 5px solid black;*/
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*background-color: rgba(0, 0, 0, 0.05);*/
    border: 5px dashed rgba(255, 0, 124, 0.3);
}

.markerPlaneElement {
    background-color: rgba(0,255,255,0.5);
    position: absolute;
    opacity: 0.9;
}

.svgDefaultState {
    display: none;
}

#zoneConnectionSwitch {
    position: fixed;
    left: 30px;
    top: 30px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    visibility: visible;
    border: 2px solid cyan;
    background-color: rgba(0, 255, 255, 0.3);
}

.connectionSwitchPulse {
    background-color: rgba(0, 255, 255, 0);
    animation-name: pulseBackgroundBlue;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

@keyframes pulseBackgroundBlue {
    0% {
        background-color: rgba(0, 255, 255, 0.3);
    }
    100% {
        background-color: rgba(0, 255, 255, 0.0);
    }
}

/*
.contentRotation {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 0) scale3d(1, 1, 1);

}*/
/*
#consolelog {
    visibility: hidden;
    -webkit-transform-style: preserve-3d;

    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.50);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}*/
#consolelog {
    display: none;
}

#preferences {
    display: none;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #969696;

    -webkit-transform: translateZ(300px);
}


#craftingBoard {
    display: none;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    /*width: 506px;*/
    /*width: 568px;*/
    /*height: 320px;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(20,20,20,0.5);

    /*-webkit-backdrop-filter: blur(30px);*/

    /*background-color: #969696;*/
    -webkit-user-select: none;
    user-select: none;

    -webkit-transform: translateZ(300px);
    z-index: 10;
}

@keyframes blurVisible {
    0% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
}

@keyframes blurInvisible {
    0% {
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }
    100% {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}

.craftingBoardBlur {

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    animation-name: blurVisible;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;

}

.craftingBoardClear {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    animation-name: blurInvisible;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

.centerVerticallyAndHorizontally {
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.centerVertically {
    position:absolute; /*it can be fixed too*/
    /*left:0; right:0;*/
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}


.Interfaces {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
/*
.interfaceSourceURL {
 /*   -webkit-user-select: text;*/
/*}*/

#content1 {
    position: fixed;
    left: 5%;
    top: 7%;
    right: 58%;
    bottom: 10%;

    background-color: #a0a0a0;
}

.PrefTitle {
    position: relative;
    float: left;
    height: 50px;
    width: 50%;
    box-sizing: border-box;
    background-color: #aaaaaa;
}

#content1Padding {
    height: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#content11 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content12 {
    padding: 5px;
    padding-left: 13px;
    text-align: center;
}

#content13 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content14 {
    padding: 5px;
    padding-left: 13px;
    text-align: center;
}

#content15 {
    padding-top: 5px;
    padding-left: 13px;
    vertical-align: middle;
    text-align: left;
}

#content16 {
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content20 {
    width: 100%;
    height: 55px;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    padding-right: 13px;
    text-align: left;
}

#newURLText {
    font-size: large;
    -webkit-user-select: text;
}

#content30 {
    height: 55px;
    padding-top: 5px;
    padding-left: 13px;
    text-align: left;
}

#content31 {
    height: 55px;
    right:0px;
    padding: 5px;
    padding-left: 0px;

    text-align: center;
}

#content18 {
    height: 320px;
    width: 100%;
    padding-top: 13px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: left;
}

#contentPadding {
    height: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#content1title {
    position: fixed;
    left: 5%;
    top: 2%;
    right: 58%;
    bottom: 89%;

    font-size: 18pt;

    text-align: center;
}

#content2 {
    position: fixed;
    left: 47%;
    top: 7%;
    right: 17%;
    bottom: 10%;

    background-color: #a0a0a0;
}

#content2title {
    position: fixed;
    left: 47%;
    top: 2%;
    right: 17%;
    bottom: 89%;

    font-size: 18pt;

    text-align: center;
}

.memoryBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    z-index: 0;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.memoryBackgroundImage {
    width: 100%;
    height: 100%;
}

.memoryBar {
    margin: 0;
    padding: 0;
    z-index: 5;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

/* TODO: spec interaction between clear sky and pocket
.clearSky .memoryBar {
    visibility: hidden;
}
*/

.memoryContainer, #overlay.overlayMemory, .memory, .element-template {      /* #overlay.overlayLogicNode */
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid #00FFFF;
    width: calc(20vw - 18px);
    height: calc(20vw - 18px);
    overflow: hidden;
}

.memoryContainer {
    height: calc(15vw - 18px);
}

.nodeMemoryContainer {
    height: calc(20vw - 18px);
}

#overlay.overlayMemory {
    background-position: center center;
    background-size: cover;
}

#overlay.overlayLogicNode {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 0px;
    background-image: url("../svg/logicNode.svg");
}

.element-template {
    border-color: white;
    margin: 3px;
    overflow: hidden;
}

.memoryContainer.memoryPointer {
    box-sizing: border-box;
    border: 3px solid #00FFFF;
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

.memoryContainer.memoryPointer.remembering {
    border: 6px solid #00ff00;
    width: 180px;
    height: 180px;
    margin-left: -90px;
    margin-top: -90px;
    transition: all 1.0s;
}

.memoryContainer {
    margin: 3px;
}

.memoryNode {
    width: calc(20vw - 44px);
    height: calc(20vw - 44px);
    background: black;
    border: 10px solid cyan;
    border-radius: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#overlay.overlayMemory, .memoryWeb > .memoryContainer {
    border-radius: 0;
    position: absolute;
    margin-left: calc(-0.5 * (20vw - 18px));
    margin-top: calc(-0.5 * (20vw - 18px));
}

.memoryDragContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 4;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0px,0px,2px);
}

.memoryPointerContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.memory {
    display: block;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    object-fit: cover;
    object-position: center;
}

.memoryContainer > .memory {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    display: none;
    pointer-events: none;
    position: fixed;

    box-sizing: border-box;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;

    border: 4px solid #01fffc;
    border-radius: 60px;

    /* this is a hack for adding the interface in front of the transformed web interface */
    z-index: 3;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(600px);
}

#overlay.overlayPositive,
#overlay.overlayNegative,
#overlay.overlayAction {
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    border-radius: 120px;
}

#overlay.overlayScreenFrame {
    border-color: #3AF431;
}

#overlay.overlayPositive {
  border-color: #3AF431;
}

#overlay.overlayNegative {
  border-color: #FF019F;
}

#overlay.overlayAction {
  border-color: #F9F90A;
}

.objectEntry {
    position: relative;
    float: left;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    display: table-cell;
    background-color: #a0a0a0;
    -webkit-transform-style: preserve-3d;
}

.objectName {
    width: 34%;
}

.objectIP {
    width: 30%;
}

.objectVersion {
    width: 14%;
}

.objectIO {
    width: 11%;
}

.objectLinks {
    width: 11%;
}

.Canvas {
    visibility: visible;
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    z-index: 0;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
    pointer-events: none;
}

.ignorePointerEvents {
    pointer-events: none;
}

.usePointerEvents {
    pointer-events: auto;
}

.visibleFrameContainer {
    display: inline;
    visibility: visible;
}

.hiddenFrameContainer {
    /*display: none;*/
    display: inline;
    visibility: visible;
    pointer-events: none;
}

.visibleFrame {
    visibility: visible;
    /*opacity: 1.0;*/
}

.hiddenFrame {
    visibility: visible;
    opacity: 0.4;
    pointer-events: none;
}

.visibleNodeContainer {
    display: inline;
}

.hiddenNodeContainer {
    display: none;
}

.displayNone {
    display: none;
}

.inTransitionFrame {
    opacity: 0.7;
}

.distantFrame {
    display: none;
}

.distanceUI {
    width: 200px;
    height: 200px;
    /*width: 100%;*/
    /*height: 100%;*/
    transform-origin: center;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(0,255,255,0.1);
    visibility: visible;
    /*transform: rotateX(90deg);*/
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

#distanceUI2 {
    border: 20px solid goldenrod;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -20px;
    margin-top: -20px;
    transform: translateZ(1000px);
}

.visibleEditingSVG {
    visibility: visible;
    display: inline;
}

.hiddenForDistance {
    display: none;
}

/*
*
*
Logic Interface CSS

*/

@keyframes scaleIn {
    0% {
        visibility: visible;
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        -webkit-transform: scale(1.0);
        visibility: visible;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        visibility: hidden;
        opacity: 0;
    }
}

.scaleIn {
    visibility: visible;
    animation-name: scaleIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.scaleOut {
    visibility: hidden;
    animation-name: scaleOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
}

#blocks {
    position: absolute;
    top: 0;
    left: 0;
}

#blockPlaceholdersContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.blockPlaceholderRow {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

.visibleFadeIn {
    opacity: 1;

    animation-name: fadeIn;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-out;
}

.invisibleFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 100ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
}

.blockPlaceholder {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.blockPlaceholderLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.blockPlaceholderLabel {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.columnHighlight {
    width: 92px;
    height:100%;
    margin-right: 46px;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.columnHighlightLastCol {
    width: 92px;
    height:100%;
    display: inline-block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#datacraftingCanvas {
    position: absolute;
    left: 0;
    top: 0;
}

#datacraftingEventDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.blockDivPlaced {
  box-sizing: border-box;
  position: absolute;
  color: white;
  user-select:none;
  -webkit-user-select:none;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  background-color: rgb(73,73,73);
  border: 2px solid white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.blockDivHighlighted {
  position: absolute;
  color: white;
  user-select:none;
  -webkit-user-select:none;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  background-color: rgb(73,73,73);
  border: 2px solid white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* block settings */

.settingsContainer {
  /*background-color: #B7B7B7; !*#969696;*!*/
  background-color: transparent;
  position: absolute;
  left: 100px;
  top: 0;
  width: calc(100vw - 62px);
  height: 320px;
  border: none;
}

/* block menu */

#menuContainer {
  /*background-color: #B7B7B7; !*#969696;*!*/
  position: absolute;
  /*left: 0;*/
  /*top: 0;*/
  /*width: calc(100vw - 62px);*/
  /*height: 320px;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

#menuBlockContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 320px;
}

#menuSideContainer {
  position: absolute;
  /*left: 400px;*/
  left: 398px;
  top: 0;
  width: 106px;
  height: 320px;
}

.menuBlock {
  width: 92px;
  height: 46px;
  display: inline-block;
  background-color: rgb(73,73,73);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px white;
  margin: 3.5px;
  margin-bottom: 18px;
}

.menuBlockContents {
  width: 100%;
  height: 100%;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient:vertical;
  user-select:none;
  -webkit-user-select:none;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.blockIcon {
  text-align: center;
    width: 100%;
   /* height: 100%;*/
    overflow: hidden;
  /*height: 20px;*/
  /*width: 75%;*/
/*  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;*/
  user-select:none;
  -webkit-user-select:none;
}

.blockBox {
    display: inline-block;
}

.blockTitle {
  /*display: inline-block;*/
  text-align: center;
}

.blockMoveDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menuTab {
  width: 106px;
  height: 59.5px;
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px rgb(0, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.menuTabSelected {
  width: 106px;
  height: 59.5px;
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  background-color: rgba(0, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px rgb(0, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.menuTabIcon {
  height: 75%;
  -webkit-filter: invert(100%);
}

.blockDivMovingAbleBorder {
    border: 2px solid rgb(0,255,0);
}

.blockDivMovingUnableBorder {
    border: 2px solid rgb(255,0,124);
}

.blockDivMovingSaveOrDeletableBorder {
    border: 2px solid rgb(255,255,0);
}

.blockDivMovingAble {
    /*border: 2px solid rgb(0,255,0);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(0, 255, 0) 16px, rgb(0, 255, 0) 32px);
}

.blockDivMovingUnable {
    /*border: 2px solid rgb(255,0,124);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,0,124) 16px, rgb(255,0,124) 32px);
}

.blockDivMovingSaveOrDeletable {
    /*border: 2px solid rgb(255,255,0);*/
    background: repeating-linear-gradient(-45deg, rgb(73, 73, 73), rgb(73, 73, 73) 16px, rgb(255,255,0) 16px, rgb(255,255,0) 32px);
}

.memoryWeb {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 4;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    background-color: rgba(17, 55, 55, 0.7);
}

.pocket {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(300px); /* Above web interfaces, below side buttons */
    background-color: rgba(17, 55, 55, 0.7);
    display: none;
}

.pocket.pocketShown {
    display: block;
}

.palette {
    width: calc(100% - 10vw);
    padding-top: 16px;
}

.palette-element {
    border: 0;
    transform-origin: 0 0;
    pointer-events: none;
}

#speechConsole {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#pocketScrollContainer {
    /*background-color: #B7B7B7; !*#969696;*!*/
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 62px);
    height: calc(100vh);
}

#pocketScrollBar {
    position: absolute;
    right: 75px;
    top: 5px;
    height: calc(100vh - 15px);
    width: 70px;
    border: 3px solid cyan;
    border-radius: 10px;
}

.pocketScrollBarSegment {
    position: absolute;
    /*border: 3px solid cyan;*/
    /*border-radius: 10px;*/
    width: 70px;
    height: calc(100vh - 15px);
    left: 0;
    top: 0;
}

.pocketScrollBarSegmentTouched {
    background-color: rgba(0,255,255,0.6);
}

.pocketScrollBarSegmentActive {
    background-color: rgba(0,255,255,0.3);
}

.snappableFrame {
    opacity: 0.6;
}

#desktopBackgroundRenderer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: transparent;
}

.groupLassoFadeOut {
    opacity:1;

    animation-name: fadeOut;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout:none;
}

@keyframes delayedFadeOut {
    0% {
        opacity:1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.groupOutlineFadeOut {
    opacity:1;

    animation-name: delayedFadeOut;
    animation-duration: 1500ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    -webkit-user-select: none;
    -webkit-touch-callout:none;
}

.groundPlaneVisualizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: #00edff;
    visibility: visible;
}
