body {
    background-color: dimgray;
}
input[type=range] {
    background-color: transparent;
    -webkit-appearance: none;

}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 68px; /* Must add six because this width includes the border */
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(4px);
    border: solid 4px #00edff;
    border-radius: 8px;
    padding: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 2px;
    background: #00edff;
}

.range-slider input[type="range"]:after {
    height: 2px;
    background: #fff;
    content: ' ';
    width: 5px;
    top: 50%;
    margin-top: -1px;
    left: -5px;
    z-index: 1;
    position: absolute;
}

input[type=range]:focus {
    outline: none;
}
#number {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: 700;
    color: #00ffff;
    align: center;
    text-align: center;
    position: relative;
    top:0px;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: 700;
    color: #00ffff;
    align: center;
    text-align: center;
    position: relative;
    top:10px;
}

/* HTML5 Boilerplate radio-one hidden styles */
[type="radio"] {
    border: 0;
    height: 1px; margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    display: none;
}

/* One radio button per line */
label {
    display: block;
    cursor: pointer;  /*hand view when on hover*/
    line-height: 1;
    font-size: xx-large;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: -0.25em;
    border-radius: 1em;           /*hard border*/
    border: 0.125em solid #00ffff;
    margin-right: 0.75em;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
    background: #00ffff;
}
