img {
    width: 100%;
    height: 100%;
}
#envelopeContainer {
    width: 100vw;
    height: 100vh;
}

#summaryContainer {
    transform: translate(-50%, -50%) scale(10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

.analytics-region-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    font-size: 14px;
    font-family: "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 22px;

    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 14px;

    position: relative;
    margin: 10px 0;
    width: fit-content;
}

.analytics-region-card.minimized > *:not(.analytics-region-card-title) {
    display: none;
}

.analytics-region-card.minimized {
    padding: 14px;
    height: 14px;
    line-height: 14px;
    white-space: nowrap;
}

.analytics-region-card-title {
    grid-column-start: span 3;
}

.analytics-region-card-subtitle {
    grid-column-start: span 3;
    border-bottom: 1px solid #999;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.analytics-region-card-graph-section-title {
    grid-column: 1;
}

.analytics-region-card-graph-section-sparkline {
    grid-column-start: span 2;
    stroke: white;
    fill: none;
}

.analytics-region-card-graph-section-value {
}

.analytics-region-card-pin, .analytics-region-card-enter {
    grid-column: 1;
    text-decoration: none;
    color: white;
}

.analytics-region-card-pin:visited, .analytics-region-card-enter:visited {
    color: white;
}

.iconContainer {
    position: fixed;
    transform: translateX(-50%);
    bottom: 230px;
    left: 50%;
    width: max-content;
    height: max-content;
}

.iconBackground {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 0 10px;
    bottom: 230px;
    background-color: #00000080;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid #ffffff 3px;
    text-align: center;
}

.iconBackground.recording {
    background-color: #9D0000;
    animation: record 2s forwards;
}

.iconBackground.recording img {
    box-sizing: border-box;
    padding: 3px;
}

@keyframes record {
    0% { background-color: #00000080 }
    100% { background-color: #9D0000 }
}

.recordingIcon {
    width: 38px;
    height: 38px;
    margin-top: calc(50% - 19px);
}

.recordingDone {
    position: absolute;
    width: max-content;
    transform: translateX(-50%);
    bottom: 230px;
    left: 50%;

    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.markStepIcon {
    width: 38px;
    height: 38px;
    margin-top: calc(50% - 19px);
}

.markStepIcon.pressed {
    filter: brightness(0.5);
}

.tool-color-gradient {
    /*animation: tool-color-gradient-anim 0.3s infinite alternate;*/
    background: linear-gradient(90deg, #000000,#000000, #00ffff, #ee7752, #e73c7e, #23a6d5, #23d5ab,#000000, #000000);
    background-size: 2000% 200%;
    animation: gradient 10s infinite;
    border-radius: 50px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
